<% layout('layouts/boilerplate') %>

    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">

                <h5 class="card-header">Login</h5>
                <div class="card-body">

                    <form action="/login" method="post" class="needs-validation" novalidate>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Username"
                                name="username" autofocus required>
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                                name="password" required>
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>